/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo da página */
body {
    background-color: #141414;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/* Centralizar tudo */
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Botão de tema */
#tema-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

/* Tema claro */
body.claro {
    background-color: #ffffff;
    color: #000;
}

/* Ajuste nomes no tema claro */
body.claro .perfil p {
    color: #333;
}

body.claro .perfil:hover p {
    color: #000;
}

/* Seção */
section {
    text-align: center;
}

/* Título */
h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

/* Lista de perfis */
.perfis {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
}

/* Cada perfil */
.perfil {
    cursor: pointer;
    transition: transform 0.3s ease;
}
.perfil a {
    text-decoration: none;
}
/* Imagem */
.perfil img {
    width: 120px;
    height: 120px;
    transition: 0.3s;
}

/* Nome */
.perfil p {
    margin-top: 10px;
    color: #b3b3b3;
    transition: 0.3s;
}

/* Hover estilo Netflix */
.perfil:hover {
    transform: scale(1.1);
}

.perfil:hover img {
    border: 2px solid #fff;
}

.perfil:hover p {
    color: #fff;
}


/* Tablets */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .perfis {
        gap: 20px;
    }

    .perfil img {
        width: 100px;
        height: 100px;
    }
}

/* Celulares */
@media (max-width: 480px) {
    main {
        padding: 10px;
        height: auto; /* evita cortar conteúdo */
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .perfis {
        flex-wrap: wrap; /* QUEBRA linha */
        gap: 50px;
    }

    .perfil img {
        width: 120px;
        height: 120px;
    }

    .perfil p {
        font-size: 1.4rem;
    }
}